@font-face {  
  font-family: 'FZCYJ';  
  src: url('Latinotype - Ragazza-Script.ttf');  
  /* font-weight: normal;  
  font-style: normal;   */
}
@font-face {  
  font-family: 'eng_1';  
  src: url('Ancona-Cd-Regular.ttf');  
  /* font-weight: normal;  
  font-style: normal;   */
}
